<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work | Connect</title>
    <link rel="stylesheet" href="~/css/footer.css">
</head>
<body>

    <!-- Footer Section -->
    <footer>
        <div class="footer-content">
            <div class="logo-text">
                <span>work</span> | <span>connect</span>
            </div>
            <ul class="footer-nav">
                <li><a href="@Url.Action("home", "Home")">Home</a></li>
                <li><a href="@Url.Action("Profile", "Profile")">Profile</a></li>
                <li><a href="@Url.Action("signIn", "SignIn")">Sign In</a></li>
                <li><a href="@Url.Action("signUp", "SignUp")">Sign Up</a></li>
                <li><a href="@Url.Action("home", "Home")">About Us</a></li>
                <li><a href="@Url.Action("Jobpagehtml", "Jobpage")">Jobs</a></li>
                <li><a href="@Url.Action("contact", "Home")">Contact Us</a></li>
            </ul>
            <div class="footer-image">
                <img src="~/images/pic.svg" alt="User and Phone Illustration">
            </div>
        </div>
    </footer>

</body>
</html>
